<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LempiAI.POC</a>
        <button title="Toggle navigation" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <!-- Etusivu -->
        <NavLink class="nav-link" href="/">
            <span class="oi oi-home me-2" aria-hidden="true"></span>
            Etusivu
        </NavLink>

        <!-- Aikataulut -->
        <NavLink class="nav-link" href="/aikataulut">
            <span class="oi oi-calendar me-2" aria-hidden="true"></span>
            Aikataulut
        </NavLink>

        <!-- Palautteet -->
        <NavLink class="nav-link" href="/palautteet">
            <span class="oi oi-star me-2" aria-hidden="true"></span>
            Palautteet
        </NavLink>

        <!-- Työntekijät -->
        <NavLink class="nav-link" href="/tyontekijat">
            <span class="oi oi-people me-2" aria-hidden="true"></span>
            Työntekijät
        </NavLink>

        <!-- Raportit -->
        <NavLink class="nav-link" href="/raportit">
            <span class="oi oi-bar-chart me-2" aria-hidden="true"></span>
            Raportit
        </NavLink>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


